<div class="column global-footer">
	<img class="logo" src="https://www.entsoe.eu/PublishingImages/General%20website%20images/logo_guidelines/entose_logo_white.png" alt="ENTSO-E logo" />
	<small>ENTSO-E - The european network for transmission system operators electricity is a non-profit organisation, &copy; 2016 All rights reserved. <br />
	Provide website feedback <a href="https://github.com">on Github</a> or to <a href="mailto:colin.broderick@entsoe.eu">info@entsoe.eu</a></small>
</div>

<!--Google tracking info-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52232214-4', 'auto');
  ga('send', 'pageview');

</script>