<style type="text/css">
    .pad2x {
        padding: 10px 20px;
        background: #fdc400;
    }
    .intro span {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding: 15px 0 10px 3%;
        font-size: 18px;
    }
    #mc_embed_signup input.button {
        display: inline !important;
        margin: 0 0 10px -4px !important;
        background-color: #f73a6f;

    }
    #mc_embed_signup input.email {
        display: inline !important;
        margin: 0 0 10px 0 !important;
    }
    #mc_embed_signup .button {
        border-radius: 0 !important;
        height: 37px !important;
    }
    #mc_embed_signup {
        background: transparent !important;
    }
</style>

<div class="column pad2x">
<div class="row">
    <div class="medium-7 columns intro">
        <span>Get the most powerful newsletter in Brussels</span>
    </div>

    <div class="medium-5 columns signup-form">
        <!-- Begin MailChimp Signup Form -->
        <link href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
                <form action="https://entsoe.us10.list-manage.com/subscribe/post?u=498429987654de03679e453a1&amp;id=da85e6735a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                    <div id="mc_embed_signup_scroll">

                     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required="">
                     <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_498429987654de03679e453a1_da85e6735a" tabindex="-1" value=""></div>

                 </div>

            <!--End mc_embed_signup-->



             </form>
        </div>
    </div>
    </div>
</div>



